<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">        
        <title>gravy</title>
    </head>

    <body>
        <div class="nav">
            <a class="logo" href="/">gravy</a>
            <div>
                ${user ?
                    `<span class="welcome">Welcome ${user.username}!</span>
                    <a class="text" href="/favorites">Favorites</a>
                    <a class="text" href="/sign-out">Sign Out</a>`
                    : 
                    `<a class="text" href="/sign-up">Sign Up</a>
                    <a class="text" href="/sign-in">Sign In</a>`
                }
            </div>
           <!--  <a class="text" href="/sign-up">Sign Up</a>
            <a class="text" href="/sign-in">Sign In</a>
            <a class="text" href="/sign-out">Sign Out</a> -->
        </div>
        <div class="yield">${yield}</div>
        <div class="footer">
            <small>This product uses the TMDb API but is not endorsed or certified by TMDb.</small>
            <img src="/images/tmdb.png" alt="tmdb logo">
        </div>
    </body>
</html>