<div class="movie-show" style="background-image:url(https://image.tmdb.org/t/p/w500${movie.backdrop_path})">
    <div class="movie-show-backdrop"> </div>
        <div class="movie-show-details">
            <img src="https://image.tmdb.org/t/p/w500${movie.poster_path}" alt="Poster">
            <h3>${movie.title}</h3>
            <p>${movie.overview}</p>
            <p>${movie.release_data}</p>
        </div>
        <div class="comments-container">
            <h3>Comments</h3>
            { user ?
                `<a class="comment-button" href="/movies/${movie.id}/comments/new">
                    New Comment 
                </a>`
                :
                `<a class="comment-button" href="/sign-up">
                    Sign In To Comment
                </a>`
            }
        </div>
</div>