<div class="movie-show" style="background-image:url(https://image.tmdb.org/t/p/w500${movie.backdrop_path})">
    <div class="movie-show-backdrop"> </div>
        <div class="movie-show-details">
            <img src="https://image.tmdb.org/t/p/w500${movie.poster_path}" alt="Poster">
            <h3>${movie.title}</h3>
            <p>${movie.overview}</p>
            <p>${movie.release_data}</p>
        </div>
        <div class="comments-container">
            <h3>Comments</h3>
            ${user ?
                `<a class="comment-button" href="/movies/${movie.id}/comments/new">
                    New Comment 
                </a>`
                :
                `<a class="comment-button" href="/sign-up">
                    Sign In To Comment
                </a>`
            }
            <div class="comment-list">
                ${comments.map((comment) => `
                    <div class="comment">
                        <div class="top">
                            <div class="username">${comment.User.username}</div>
                            <div class="rating">${Array(comment.rating).fill("⭐").join('')}</div>           
                        </div>
                        <div class="body">${comment.message}</div>
                        ${user && comment.User.id === user.id ? 
                            `<div class="bottom">
                                <a href="/movies/${movie.id}/comments/${comment.id}" class="comment-button">
                                    Edit
                                </a>
                                <form method="post" action="/comments/${comment.id}?_method=DELETE">
                                    <input type="hidden" name="_csrf" value="${csrfToken}">
                                    <button type="submit" class="comment-button">
                                        Delete
                                    </button>
                                </form>
                            </div>`
                                :
                                ''
                        }
                    </div>
                `).join('')
                }
            </div>
        </div>
</div>